section#footer.container  
      .row
        .col-lg-5.col-lg-offset-2
          ul.list-inline.banner-social-buttons
            li
              a.btn.btn-default.btn-circle.btn-social(href="http://facebook.com/siliconbeachsportsleague", target="_blank")
                i.fa.fa-facebook.fa-fw.icon-social            
              a.btn.btn-default.btn-circle.btn-social(href='https://twitter.com/sbsportsleague', target='_blank')
                i.fa.fa-twitter.fa-fw.icon-social
              a.btn.btn-default.btn-circle.btn-social(href='http://instagram.com/sbsportsleague', target='_blank')
                i.fa.fa-instagram.fa-fw.icon-social        

        .col-lg-8.col-lg-offset-2
          ul.nav.navbar-nav.footer-nav
            //
               Hidden li included to remove active class from about link when scrolled up past about section 
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#about') About
            li.page-scroll
              a(href='#schedule') Schedule            
            li.page-scroll
              a(href='#faq') FAQ
            li.page-scroll
              a(href='#teams') Teams
            li.page-scroll
              a(href='#contact') Contact    

        .col-lg-8.col-lg-offset-2
          .copyright
            | © 2014 Silicon Beach Sports League 