!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Bruin Entrepreneurs | Undergraduate Entrepreneurship at UCLA
    
    // Bootstrap Core CSS 
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    
    // Fonts 
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    
    // Custom Theme CSS 
    link(href='css/be.css', rel='stylesheet')

  body#page-top(data-spy='scroll', data-target='.navbar-custom')

    // NAVBAR
    
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars
          a.navbar-brand(href='#page-top')
            span.light Bruin
            | Entrepreneurs
        //
           Collect the nav links, forms, and other content for toggling 
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            //
               Hidden li included to remove active class from about link when scrolled up past about section 
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#about') About
            li.page-scroll
              a(href='#whatwedo') What We Do
            li.page-scroll
              a(href='#team') Team 
            li.page-scroll
              a(href='#blog') Blog                                 
            li.page-scroll
              a(href='#contact') Contact
        //
           /.navbar-collapse 
      //
         /.container 

    // INTRO     
    
    section.intro
        .intro-body
            .container
              .row
                .col-md-12
                  img.logo(src='img/BEdark_noBG2.png')
                  h3
                    br
                    | Undergraduate Entrepreneurship at UCLA 
                  // Social Links 
                  ul.list-inline.banner-social-buttons
                    li
                      a.btn.btn-homepage.btn-lg(href='https://twitter.com/bruinentreprenr', target='_blank')
                        i.fa.fa-twitter.fa-fw
                        span.network-name 
                    li
                      a.btn.btn-homepage.btn-lg(href='https://facebook.com/bruinentrepreneurs', target='_blank')
                        i.fa.fa-facebook.fa-fw  
                        span.network-name   
                   
                  // nodemailer form   
                  form(action='/signup', method='post', name='email registration', target='_blank', style='margin-top:20px')
                    input.email(type='email', value='', name='EMAIL', placeholder='Enter Email Address...', required='required', style='max-width:400px; margin-right:20px')
                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    div(style='position: absolute; left: -5000px;')
                      input(type='text', name='b_95fffc4eb179e8cedecfbc026_469fdeb0f2', value='')
                    input.btn.btn-homepage.btn-lg.button(type='submit', value='Subscribe', name='subscribe', style='width:200px')                                      

                  // Page Scroll Button
                  .page-scroll
                    a.btn.btn-circle(href='#about')
                      i.fa.fa-angle-double-down.animated

    // ABOUT              
    
    section#about.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 About Bruin Entrepreneurs
          p
            | Founded in 2013, Bruin Entrepreneurs’ core mission is to facilitate entrepreneurship among UCLA undergraduates by providing resources, networking, and mentorship. Our aim is to assist students of all majors and levels of experience in starting their own businesses by providing educational facilities designed to introduce students to the basics of entrepreneurship through involvement and execution.

          p
            | We provide a community for entrepreneurial-minded students who share an interest in creative innovation - a productive and collaborative environment for business people, developers, and everyone in between to connect and share their talents. 

    // WHAT WE DO 
    
    section#whatwedo.content-section.text-center(style='background-color:#f1f1f1; color:#000')
      .whatwedo-section
        .container
          .col-lg-8.col-lg-offset-2
            h2 What We Do 
          
          .col-lg-8.col-lg-offset-2(style='margin-top:50px')
          li.list-inline
            a.project-image
                img(src='http://placehold.it/300x200')
          
            a.project-image
                img(src='http://placehold.it/300x200')     
          
            a.project-image
                img(src='http://placehold.it/300x200')                                                
    // TEAM 
    
    section#team.content-section.text-center
      .container
        .row
          .col-lg-8.col-lg-offset-2
            h2 Our Team

        #myCarousel.carousel.slide
          //
            Wrapper for slides 
          .carousel-inner
            // 2013-2014 Board
            .item
              .fill(style='background-image: url(\'http://placehold.it/1200x300\'); height:400px')
                li.list-inline
                    a.team-image
                        img(src='http://placehold.it/150x150')
                  
                    a.team-image
                        img(src='http://placehold.it/150x150')     
                  
                    a.team-image
                        img(src='http://placehold.it/150x150') 

                    a.team-image
                        img(src='http://placehold.it/150x150')

              .carousel-caption
                h3 2013-2014 Founding Board
            
            // 2014-2015 Board
            .item.active
              .fill(style='background-image: url(\'http://placehold.it/1200x300\'); height:400px')
                li.list-inline
                    a.team-image
                        img(src='http://placehold.it/150x150')
                  
                    a.team-image
                        img(src='http://placehold.it/150x150')     
                  
                    a.team-image
                        img(src='http://placehold.it/150x150') 

                    a.team-image
                        img(src='http://placehold.it/150x150')
                  
              .carousel-caption
                h3 2014-2015 Executive Board
          //
            Indicators 
          ol.carousel-indicators
            li(data-target='#myCarousel', data-slide-to='0')
            li.active(data-target='#myCarousel', data-slide-to='1')    


    // BLOG
    
    section#blog.content-section.text-center
      .blog-section
        .container     
            // Medium Embed Script     
            script(async='async', src='https://static.medium.com/embed.js')
            a.m-profile(href='https://medium.com/@BruinEntrepreneurs', data-width='100%', data-border='false',background-color='#f1f1f1') Bruin Entrepreneurs                             

    // CONTACT
    
    section#contact.container.content-section.text-center  
      .row
        .col-lg-8.col-lg-offset-2
          h3 Lets make something happen                    
          a.btn.btn-default.btn-lg(href='mailto:contact@bruinentrepreneurs.org') Contact Us
          br
      .signature 
        p Bruin Entrepreneurs 2014
    // MAP 
    
    #map   

    //
       Core JavaScript Files 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='js/bootstrap.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    //
       Google Maps API Key - You will need to use your own API key to use the map feature 
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDxATCRqFRnAiDgW8CIae3iMTJsEOBBkeg&sensor=false')
    //
       Custom Theme JavaScript 
    script(src='js/grayscale.js')
    //
     Script to Activate the Carousel 
    script
      $('.carousel').carousel({
      interval: false //changes the speed
      })



