!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Silicon Beach Sports League

    // FB Meta Tags
    meta(property="og:image", content="img/")
    meta(property="og:title", content="Silicon Beach Sports League")

    //
       Bootstrap Core CSS 
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    //
       Fonts 
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Lato:900,700,400,300,100', rel='stylesheet', type='text/css')
    //
       Custom Theme CSS 
    link(href='css/sbsl.css', rel='stylesheet')
    // 
       Favicon
    link(href='img/favicon.ico', rel="shortcut icon")
body
    /////////////
    /// INTRO ///
    /////////////
    header#page-top.intro
      .intro-body
        .container(style='vertical-align:center;')
          video#intro-video(autoplay='autoplay', loop='loop', poster='volleyball.jpg')
            source(src='video/volleyball.mp4', type='video/mp4')
            source(src='video/volleyball.webm', type='video/webm')   
          .row
            .col-md-8.col-md-offset-2
              image.intro-logo(src="/img/SBSL-Logo.png")
              h2.intro-text
                | LA'S PREMIER SPORTS LEAGUE FOR STARTUPS
              
              // div container for fading elements
              div(style='height:120px')
                
                // mailchimp form   
                form.subscriptionForm(action='/subscribe', method='post', name='email registration', style='margin-top:20px')
                  input.email(type='email', value='', name='EMAIL', placeholder='Subscribe to our mailing list...', required='required', style="margin: 0 auto; width:50%; border-color: rgba(255,255,255,0.75); border-width:3px")
                  // anti-spam
                  div(style='position: absolute; left: -5000px;')
                    input(type='text', name='b_95fffc4eb179e8cedecfbc026_469fdeb0f2', value='')
                  .clear
                  br
                  input.btn.btn-huge.button(type='submit', value='Subscribe', name='subscribe', style='width:200px' , onClick='$(".subscriptionForm").fadeOut(); $(".subscribeConfirmation").fadeIn()')
                br

                .col-lg-12.subscribeConfirmation
                  p Thanks for subscribing to our mailing list! You will receive a confirmation email shortly.                     
          .row
            ul.nav.navbar-nav
              //
                 Hidden li included to remove active class from about link when scrolled up past about section 
              li.hidden
                a(href='#page-top')
              li.page-scroll
                a(href='#about') About
              li.page-scroll
                a(href='#feedback') Schedule                
              li.page-scroll
                a(href='#faq') FAQ
              li.page-scroll
                a(href='#teams') Teams
              li.page-scroll
                a(href='#contact') Contact 
  
    /////////////
    /// ABOUT ///
    /////////////    
    section#about.container
      .row
        .col-lg-8.col-lg-offset-2 
          h2.section-heading About   
          h4.section-subheading Silicon Beach Sports League         
          p The Silicon Beach Sports League provides an environment for company employees, investors, and other entrepreneurs in Los Angeles to build connections in a startup community committed to staying fit. The League organizes tournaments and scrimmages for multiple sports including soccer, volleyball, ultimate frisbee, basketball, golf, and dodgeball.

    ////////////////
    /// SCHEDULE ///
    ////////////////
    section#schedule.container
      .bg-overlay
      .row
        .col-lg-8.col-lg-offset-2
          h1.section-heading.white Week 1
          h3.section-subheading.white VOLLEYBALL TOURNAMENT
          p
            b.section-subheading August 24 | Hermosa Beach Pier, CA

          // div container for fading elements
          div(style='height:120px')

            // nodemailer form   
            form.signupForm(action='/signup', method='post', name='email registration', style='margin-top:20px')
              input.email(type='email', value='', name='EMAIL', placeholder='Enter Email Address...', required='required', style="margin: 0 auto; width:50%; border-color: rgba(255,255,255,0.75); border-width:3px")
              // anti-spam
              div(style='position: absolute; left: -5000px;')
                input(type='text', name='b_95fffc4eb179e8cedecfbc026_469fdeb0f2', value='')
              .clear
              br
              input.btn.btn-huge.button(type='submit', value='sign up', name='subscribe', style='width:200px', onClick='$(".signupForm").fadeOut(); $(".signupConfirmation").fadeIn()')
            br

            .col-lg-12.signupConfirmation
              p Thanks for signing up! We'll contact you shortly with more details!                                
          br
          p
            b.section-subheading 8 Teams | 4 Players Per Team | $250 Suggested Donation per Team
          p
            b.section-subheading All proceeds donated to
              a(href='http://villagecare.com' , target='_blank')  Village Care International
          a.villagecare-logo(href='http://villagecare.com')
            image(src='img/villagecare.png')

    ///////////
    /// FAQ ///
    ///////////
    section#faq.container(style='text-align:center')
        .row
          .col-lg-8.col-lg-offset-2
            h1.section-heading FAQ
            h4.section-subheading Frequently Asked Questions
            .col-lg-4
              p
                b When? 
                p August 24th, 2014. Be on the sand with your team at 1pm!
            .col-lg-4
              p
                b Where?
                p 13th Street, Just North of the pier on Hermosa Beach
            .col-lg-4   
              p
                b Who can play?
                p Teams should consist of at least four players, and everyone on your company team should be either a founder, board member, employee, investor, or intern.
            .col-lg-4
              p
                b How does the tournament work? 
                p The tournament will have a double-elimination bracket. There is a 
                  i suggested 
                  | donation of $250 per team - 100% of proceeds will be donated to the nonprofit organization 
                  a(href='http://villagecare.com' , target='_blank') Village Care 
                  |to provide aid in the wake of the recent Ebola Outbreak in African Countries
            .col-lg-4
              p
                b What should I bring? 
                p Bring suntan lotion and your game face! Volleyballs will be provided! Please rep your company swag! Bring friends and family to come watch you play and enjoy the fun!
            .col-lg-4
              p
                b Will refreshments be provided? 
                p Light snacks and water will be provided to keep you fueled for the game!              
            .col-lg-4
              p
                b What do we win?
                p The winning team will be awarded a secret Grand Prize by the City Mayor of Hermosa Beach in addition to bragging rights to start off the Silicon Beach Sports season!
            .col-lg-4
              p
                b Will there be an afterparty?
                p All participants and viewers are invited to network and celebrate at the after party right down the street following the awards. A Grand Prize will be awarded to the winning team in addition to bragging rights. The afterparty will take place at Ocean Bar and Lounge, Sunday Beach House.               
            .col-lg-4
              p 
                b What is Village Care International?
                p Village Care International was created and operates from the unorthodox and highly effective standpoint that only Africans can solve their own problems by using the resources they have on hand and without dependence on humanitarian aid. We do that by equipping communities and their leaders with principles and practices that empower vulnerable populations to thrive. The results have been amazing with more than 1000 communities in 13 countries currently involved as members of Village Care.

    /////////////
    /// TEAMS ///
    /////////////
    section#teams.container
        .row
          .col-lg-8.col-lg-offset-2
            h1.section-heading Teams
            // ENPLUG
            .col-lg-4
              a(href='http://enplug.com')
               .partner-logo(style='background-image: url(\'../img/enplug.png\')')
            // RUBICON 
            .col-lg-4
              a(href='http://rubiconproject.com')     
                .partner-logo(style='background-image: url(\'../img/rubicon.gif\')')                   
            // GOGUARDIAN
            .col-lg-4
              a(href='http://goguardian.com')
                .partner-logo(style='background-image: url(\'../img/goguardian.png\')')   
            // NVESTLY
            .col-lg-4
              a(href='http://nvestly.com')
                .partner-logo(style='background-image: url(\'../img/nvestly.png\')')                
            // HURLEY 
            .col-lg-4
              a(href='http://hurleybrothersllc.com')     
                .partner-logo(style='background-image: url(\'../img/hurley.png\')') 


                  

    ///////////////
    /// CONTACT ///
    ///////////////
    section#contact.container(style='text-align:center')
        .row
          .col-lg-8.col-lg-offset-2
            h1.section-heading Contact
            p Interested in joining? Reach out to us at 
              a(href='mailto:hello@sbsportsleague') hello@sbsportsleague.com!
   
    //////////////
    /// FOOTER ///
    //////////////
    include footer

    //
       Core JavaScript Files 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')

    script
        $(function() {
          $('video').cover({
          ratio: 1080 / 1920
          });
          $(window).resize(function() {
          $('video').cover('set');
          });
          });

    //
      Google Analytics
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})
      (window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53667883-1', 'spop.in');
      ga('send', 'pageview');

    //
       Custom Theme JavaScript 
    script(src='js/sbsl.js')   
    script(src='js/jquery.cover.js')
