!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Silicon Beach Sports League

    // FB Meta Tags
    meta(property="og:image", content="img/")
    meta(property="og:title", content="Silicon Beach Sports League")

    //
       Bootstrap Core CSS 
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    //
       Fonts 
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    //
       Custom Theme CSS 
    link(href='css/sbsl.css', rel='stylesheet')
    // 
       Favicon
    link(href='img/favicon.ico', rel="shortcut icon")

    /////////////
    /// INTRO ///
    /////////////
    header#page-top.intro
      .intro-body
        .container
          video#intro-video(autoplay='autoplay', loop='loop', poster='volleyball.jpg')
            source(src='video/volleyball.mp4', type='video/mp4')
            source(src='video/volleyball.webm', type='video/webm')   
          
          .row
            .col-md-8.col-md-offset-2
              image.intro-logo(src="/img/SBSL-Logo.png")
              h2.intro-text
                | LA's Premier Sports League for Startups

          .row
            ul.nav.navbar-nav
              //
                 Hidden li included to remove active class from about link when scrolled up past about section 
              li.hidden
                a(href='#page-top')
              li.page-scroll
                a(href='#about') About
              li.page-scroll
                a(href='#faq') FAQ
              li.page-scroll
                a(href='#feedback') Schedule
              li.page-scroll
                a(href='#contact') Contact 
  
    /////////////
    /// ABOUT ///
    /////////////    
    section#about.container
      .row
        .col-lg-8.col-lg-offset-2 
          h2.section-heading about              
          p
            | By college students, for college students. 
          p
            | We wanted to communicate comfortably and conveniently with other college students around us, but there was nothing out there, so we created it. We hope you find this as helpful as we have; its made our college experience that much better. #whateveryoudo #dontgraduate
          p
            | Start and pop conversations with only students around you. It’s local communication done right. 
          p(style='font-size:20pt')
            | Be 
            b anonymous
            |, or just be 
            b you
            | . Anywhere. Anytime.
          p 
            | Set your distance. Reach who you want to reach. It’s your community, and it’s your content. spop provides the platform for you to make your college experience that much better.
          p
            span(style='font-size:20pt') Nothing 
            |is permanent. Why should your conversations be? spops pop when you leave. Or you can pop them yourself. Once they've 
            span(style='font-size:20pt') popped
            |, they're gone for good!
          p
            | Whether you're in a classroom, out in the quad, near the frat/sorority houses, or off-campus, you set your distance, and you control the content.
          p
            | spop away and always be in the know. 

    ///////////
    /// FAQ ///
    ///////////
    section#faq.container
        .row
          .col-lg-8.col-lg-offset-2
            h1.section-heading FAQ
            p
              b What is spop?
              br  
              | Just read our 
              a(href='#about') about 
              | page!
            p
              b Why do I need my Facebook and College .edu email?
              br
              | Do you want to be talking to weirdos? Didn’t think so. We want you to have that tight knit, college community life with you, wherever you go. Once you verify your college email, that’s it, we will never EVER ask for it again. Its just a way for us to make sure we’re dealing with college students. That’s it. So go spop what your heart desires!
            p
              b How does one spop? 
              br
              | Click the compose icon at the top right of your screen. But a deeper answer would be spop about anything. Spop about your nightlife, what’s happening in your dorm/apartment, what’s going on at campus center, a clever/witty phrase, literally anything (as long as its good, wholesome stuff).
            p
              b How do I delete a spop? 
              br
              | Your spops get deleted by 1 of 3 ways. You can swipe left to “MY SPOPS” and/or “PRIVATE SPOPS” and manually pop them by clicking the pop option. You can leave your spop’s radius, but this will NOT pop your “PRIVATE SPOPS” because there is no distance associated with them (You’ll have to manually pop “PRIVATE SPOPS”). Lastly, if your spop has zero activity for a span of 24 hours, no one likes old, boring conversations...so they go bye-bye. Avoid it, by making your spops zesty (yes, we used zesty-its rare you get a chance to toss in a word like zesty), but anyways, sprinkle some zest to your spops for maximum activity.  
            p
              b What does set your distance do? 
              br
              | You reach who you want to reach; you narrow your audience. If you only want to message people in your dorm/apartment, set it. If you want to reach the whole school, set it. Its there so you can maximize your engagement within your spops.
            p
              b Can I spop anywhere? 
              br
              | Of course, we don’t limit your spops to just your school! Spop when you’re back home, when you’re at other colleges, at the beach, majestically running through a flower field. Plus, other college students in that area can spop in at anytime. Let’s be honest, the college life shouldn’t just end when you leave campus. 
            p
              b Can I screenshot a spop? 
              br
              | You can, but everyone will know about it. When you screenshot, your public profile and name will show along with a message that you screenshotted. We do this to protect the genuine, honest content within each spop.
            p  
              b How can I show my unconditional love and support for Spop?
              br
              | Come join our team of 2,200 campus reps! We’d love to interview you and have you represent the college student body!
            p
              b How to become a campus rep?
              br 
              | Shoot us an email at 
              a(href='mailto:campusreps@spopapp.com') campusreps@spopapp.com
              | and we’ll shoot you over some stuff so you can get to know us better and vice versa. 
            p
              b How do I get a shout out on spop’s Instagram, Facebook, Twitter, etc?
              br
              | We’re pretty picky with our reposts. So if you believe in your spop shout out and its solid, we’ll gladly repost. If its not, then keep trying! It has to fall into one of these categories: clever, funny, sweet, unique, gold.
            p 
              b How do I private message someone? 
              br
              | You can only private message people if they are public, you can’t message anonymous people because...well that defeats the purpose of being anonymous! Just click on someone’s profile and the message option will be in the middle, then private message away :)
            p
              b How do I report someone? 
              br
              | Just click on the profile of whoever posted a bad vibe and click the report button. We’ll take care of it on our end; they won’t be making that rookie mistake again. 

    ////////////////
    /// FEEDBACK ///
    ////////////////
    section#feedback.container
        .row
          .col-lg-8.col-lg-offset-2
            h1.section-heading feedback
            p
              | Help us improve, we’re always open to changes! 
              br
              | Shoot us an email at 
              a(href='mailto:support@spopapp.com') support@spopapp.com

    ///////////////
    /// CONTACT ///
    ///////////////
    section#contact.container
        .row
          .col-lg-8.col-lg-offset-2
            h1.section-heading contact
            p
              | Whether its to say hey, I love you, you suck, coffee, you’ve changed my life, I want to join spop, or anything else under the sun. 
              br
              | Good or bad, haters or lovers, we want to hear it all! 
              a(href='mailto:contact@spopapp.com') contact@spopapp.com             


   
    //////////////
    /// FOOTER ///
    //////////////
    include footer

    //
       Core JavaScript Files 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')

    script
        $(function() {
          $('video').cover({
          ratio: 1080 / 1920
          });
          $(window).resize(function() {
          $('video').cover('set');
          });
          });

    //
      Google Analytics
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})
      (window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53667883-1', 'spop.in');
      ga('send', 'pageview');

    //
       Custom Theme JavaScript 
    script(src='js/sbsl.js')   
    script(src='js/jquery.cover.js')
