!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Bruin Entrepreneurs | Undergraduate Entrepreneurship at UCLA
    
    // FB Meta Tags
    meta(property="og:image", content="/img/BEavatar.jpg")
    meta(property="og:title", content="Bruin Entrepreneurs | Undergraduate Entrepreneurship at UCLA")

    // Bootstrap Core CSS 
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    
    // Fonts 
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    
    // Custom Theme CSS 
    link(href='css/be.css', rel='stylesheet')   

body#page-top(data-spy='scroll', data-target='.navbar-custom')

    // NAVBAR
    
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars
          a.navbar-brand(href='#page-top')
            img(src='img/navbarlogo.png')
        //
           Collect the nav links, forms, and other content for toggling 
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            //
               Hidden li included to remove active class from about link when scrolled up past about section 
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#about') About
            li.page-scroll
              a(href='#whatwedo') What We Do
            li.page-scroll
              a(href='#team') Team 
            li.page-scroll
              a(href='#blog') Blog                                 
            li.page-scroll
              a(href='#contact') Contact
        //
           /.navbar-collapse 
      //
         /.container 

    // INTRO     
    
    section.intro
        .intro-body
            .container
              .row
                .col-md-12
                  img.logo(src='img/BEdark_noBG2.png')
                  h3
                    br
                    | Undergraduate Entrepreneurship at UCLA 
                  
                  // Social Links 
                  ul.list-inline.banner-social-buttons
                    li
                      a.btn.btn-homepage.btn-lg(href='https://twitter.com/bruinentreprenr', target='_blank')
                        i.fa.fa-twitter.fa-fw
                        span.network-name 
                    li
                      a.btn.btn-homepage.btn-lg(href='https://facebook.com/bruinentrepreneurs', target='_blank')
                        i.fa.fa-facebook.fa-fw  
                        span.network-name   
                  
                  // div container for fading elements
                  div(style='height:50px')
                      
                      // nodemailer form   
                      form.subscriptionForm(action='/signup', method='post', name='email registration', style='margin-top:20px')
                        input.email(type='email', value='', name='EMAIL', placeholder='Enter Email Address...', required='required', style='max-width:400px; margin-right:20px')
                        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                        div(style='position: absolute; left: -5000px;')
                          input(type='text', name='b_95fffc4eb179e8cedecfbc026_469fdeb0f2', value='')
                        input.btn.btn-homepage.btn-lg.button.subscribe-btn(type='submit', value='Subscribe', name='subscribe', style='width:200px', onclick='$(".subscriptionForm").fadeOut(); $(".subscribeConfirmation").fadeIn()')                                      

                      .col-lg-12.subscribeConfirmation
                        p Thanks for subscribing to our mailing list! You will receive a confirmation email shortly.   

                  // Page Scroll Button
                  .page-scroll
                    a.btn.btn-circle(href='#about')
                      i.fa.fa-angle-double-down.animated

    // ABOUT              
    
    section#about.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 About Bruin Entrepreneurs
          p
            | Founded in 2013, Bruin Entrepreneurs’ core mission is to facilitate entrepreneurship among UCLA undergraduates by providing resources, networking, and mentorship. Our aim is to assist students of all majors and levels of experience in starting their own businesses by providing educational facilities designed to introduce students to the basics of entrepreneurship through involvement and execution.

          p
            | We provide a community for entrepreneurial-minded students who share an interest in creative innovation - a productive and collaborative environment for business people, developers, and everyone in between to connect and share their talents. 

    // WHAT WE DO 
    
    section#whatwedo.whatwedo-section.content-section.text-center(style='background-color:#fff')
        .container
          .col-lg-8.col-lg-offset-2
            h2.section-header What We Do
            h4.section-subtitle We make opportunities for Bruins to learn, build, and create
          
          .col-lg-12(style='margin-top:25px')
              
              // BRUIN INCUBATOR
              .col-lg-4(style='padding-bottom:20px')
                .project-image(style='background-image: url(\'/img/bruinincubator.jpg\'') 
                    .project-overlay(style='opacity: 0')
                        .project-image(style='opacity:0.8; background-image: url(\'/img/bruinincubator2.jpg\'') 
                        h5 Bruin Incubator            
              
              // LA HACKS
              .col-lg-4(style='padding-bottom:20px')
                .project-image(style='background-image: url(\'/img/lahacks.jpg\'')  
                    .project-overlay(style='opacity: 0;', target='_blank')
                        a(href='http://lahacks.com')
                            .project-image(style='opacity:0.8; background-image: url(\'/img/lahacks2.png\'') 
                        h5 LA Hacks 

              // PERFECT PITCH 
              .col-lg-4(style='padding-bottom:20px')
                .project-image(style='background-image: url(\'/img/perfectpitch.jpg\'')
                    .project-overlay(style='opacity: 0;')
                        a(href='http://perfectpitch.io', target='_blank')
                            .project-image(style='opacity:0.8; background-image: url(\'/img/perfectpitch2.jpg\'') 
                        h5 Perfect Pitch: UCLA's Biggest Pitch Competition   
    // TEAM 
    
    section#team.content-section.text-center
      .container
        .row
          .col-lg-8.col-lg-offset-2
            h2 Our Team

        #myCarousel.carousel.slide
          //
            Wrapper for slides 
          .carousel-inner
            // 2013-2014 Board
            .item
              .fill(style='height:400px')
                h4 2013-2014 Founding Board
                // DAVID
                .col-lg-3.col-md-3.col-sm-6.team-container
                  
                    .team-image(style='background-image: url(\'/img/team/david.jpg\'')
                      .team-overlay(style='opacity: 0')
                        h4.team-name David Mangold
                        h5 Founder
                // JAMES
                .col-lg-3.col-md-3.col-sm-6.team-container
                  a(href='https://twitter.com/jamesl1919', target='_blank')  
                    .team-image(style='background-image: url(\'/img/team/james.jpg\'') 
                      .team-overlay(style='opacity: 0')      
                        h4.team-name James Liu
                        h5 President                           
                // BRANDON
                .col-lg-3.col-md-3.col-sm-6.team-container
                  a(href='https://twitter.com/foolywk', target='_blank')  
                    .team-image(style='background-image: url(\'/img/team/brandon.jpg\'')  
                      .team-overlay(style='opacity: 0;')
                        h4.team-name Brandon Foo
                        h5 EVP
                // NISH
                .col-lg-3.col-md-3.col-sm-6.team-container
                  a(href='https://twitter.com/nishil92', target='_blank') 
                    .team-image(style='background-image: url(\'/img/team/nish.jpg\'') 
                      .team-overlay(style='opacity: 0') 
                        h4.team-name Nish Patel
                        h5 EVP                              
                // VARADH
                .col-lg-3.col-md-3.col-sm-6.team-container
                  a(href='https://twitter.com/hdarav', target='_blank')                   
                    .team-image(style='background-image: url(\'/img/team/varadh.jpg\'')
                      .team-overlay(style='opacity: 0;')                    
                        h4.team-name Varadh Jain
                        h5 IVP
                // STEPHANIE
                .col-lg-3.col-md-3.col-sm-6.team-container
                  a(href='https://twitter.com/stephsutanto', target='_blank')  
                    .team-image(style='background-image: url(\'/img/team/stephanie.jpg\'') 
                      .team-overlay(style='opacity: 0')
                        h4.team-name Stephanie Sutanto
                        h5 Director of Education
                // SHAHAN
                .col-lg-3.col-md-3.col-sm-6.team-container
                    
                    .team-image(style='background-image: url(\'/img/team/shahan.jpg\'')  
                      .team-overlay(style='opacity: 0')  
                        h4.team-name Shahan Khan
                        h5 Director of Education
                // JUSTIN 
                .col-lg-3.col-md-3.col-sm-6.team-container
                  a(href='https://twitter.com/senseibrezh', target='_blank')  
                    .team-image(style='background-image: url(\'/img/team/justin.jpg\'')
                      .team-overlay(style='opacity: 0;')
                        h4.team-name Justin Brezhnev
                        h5 Director of Marketing
                // ARCHIT
                .col-lg-3.col-md-3.col-sm-6.team-container
                  a(href='https://twitter.com/gargstuttgart', target='_blank') 
                    .team-image(style='background-image: url(\'/img/team/archit.jpg\'')  
                      .team-overlay(style='opacity: 0;', target='_blank')
                        h4.team-name Archit Garg
                        h5 Treasurer
  
            // 2014-2015 Board
            .item.active
              .fill(style='height:400px')
                h4 2014-2015 Executive Board

                  
          //
            Indicators 
          ol.carousel-indicators
            li(data-target='#myCarousel', data-slide-to='0')
            li.active(data-target='#myCarousel', data-slide-to='1')    


    // BLOG
    
    section#blog.content-section.text-center
      .blog-section
        .container     
            // Medium Embed Script     
            script(async='async', src='https://static.medium.com/embed.js')
            a.m-profile(href='https://medium.com/@BruinEntrepreneurs', data-width='100%', data-border='false',background-color='#f1f1f1') Bruin Entrepreneurs                             

    // CONTACT
    
    section#contact.container.content-section.text-center  
      .row
        .col-lg-8.col-lg-offset-2
          h2 Contact Us  
        .col-lg-10.col-lg-offset-1
          form( action="/sendMail", method="POST", enctype="multipart/form-data")
           br
           ul.col-lg-5(style='font-size:13pt; list-style-type:none')
             li
               input#name.name(type='text', name='name', placeholder='Name', required='required')
             li
               input#email.email(type='email', name='email', placeholder='Email Address', required='required') 
             li
               input#subject.subject(type='text', name='subject', placeholder='Subject', required='required')                              
           ul.col-lg-7(style='font-size:13pt; list-style-type:none')
             li
               textarea#message.message(name='message', placeholder='Enter Your Message...', style='height:100px', required='required')
           .col-lg-12
           br
           input.btn.btn-default.btn-lg(type="submit", value="Send")

          br
      .signature 
        p © Bruin Entrepreneurs 2014. All Rights Reserved. 
    
    // MAP 
    
    #map   
    
    // Core JavaScript Files 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='js/bootstrap.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')

    // Google Maps API Key - You will need to use your own API key to use the map feature 
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDxATCRqFRnAiDgW8CIae3iMTJsEOBBkeg&sensor=false')

    // Custom Theme JavaScript 
    script(src='js/grayscale.js')            
    
    // Script to Activate the Carousel 
    script
      $('.carousel').carousel({
      interval: false //changes the speed
      })

    <!-- GOOGLE ANALYTICS -->
    script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-44941514-1', 'bruinentrepreneurs.org');
        ga('send', 'pageview');    


